[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/samir/Desktop/Trader Workstation 975.desktop]
row=3
col=0

[B424046A240431C2]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/samir]
row=2
col=0

